/* styles/Home.module.css */
.title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.cafeList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cafeListItem {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.cafeListItem:hover {
  transform: scale(1.05);
}

.cafeImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.cafeDetails {
  padding: 10px;
}

.cafeName {
  font-size: 1.2rem;
  font-weight: bold;
}

.cafeDescription {
  margin-top: 10px;
  font-size: 0.9rem;
}
